---
import Section from './Section.astro';
---

<Section>
	<footer class="text-center">
		© Modify by <a class="underline hover:text-orange-600" href="http://riodpp.vercel.app" target="_blank">riodpp</a> from 
		<a class="underline hover:text-orange-600" href="http://nicdun.dev" target="_blank">nicdun.dev</a> 
	</footer>
</Section>
